/* __________________________________________________________________________________________ 

    ESTILOS GENERALES Y MENU
 __________________________________________________________________________________________ */

 @font-face {
    font-family: Roboto;
    src: url(./src/images/Roboto-Light.ttf);
  }

  .container {
      padding: 169px 0;
  }

  .title{
    font-size: 55px;
    font-family: Roboto;
    color: #1c1e30;
    padding-bottom: 89px;
    text-align: center;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(35, 34, 40)
}

li {
    list-style: none;
}


.navbar1 a{
    color: white;
    text-decoration: none;
    font-size: 26px;
    color: aliceblue;
}


.navbar1 {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
}

.nav-branding{
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover{
    color:aqua
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: aliceblue;
}


@media(max-width:980px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -1000px;
        top: 70px;
        /* bottom: 100px; */
        height: 100vh;
        gap: 0;
        flex-direction: column;
        background-color: rgb(35, 34, 40);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        display: flex;
        justify-content: center;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-link{
        font-size: 46px;
        letter-spacing: 7px;
    }

    .hr{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
}

@media(min-width:768px){
    .hr{
        display: none;
    }
}

/* __________________________________________________________________________________________ 

    HEADER VIDEO
 __________________________________________________________________________________________ */

#headerInfo{
    /* width: 100%; */
    height: 600px;
    background-color: rgb(35, 34, 40);
    
}




/* __________________________________________________________________________________________ 

    
 __________________________________________________________________________________________ */



 /* __________________________________________________________________________________________ 

    NOSOTROS
 __________________________________________________________________________________________ */

 #about{
     color:rgb(35, 34, 40);
     font-size: 26px;
     font-family: Roboto;
     line-height: 48px;
 }

 .romeroTitle{
     font-weight: bold;
     color: black;
 }


  /* __________________________________________________________________________________________ 

    SERVICIOS
 __________________________________________________________________________________________ */

 .fa-scale-balanced, .fa-building, .fa-handshake, .fa-share-nodes{
     color: aliceblue;
     font-size: 45px;
     padding-bottom: 20px;
 }

  
  #cardSkillsContainer {
    /* padding-top: 69px; */
  }
  
  .cardSkills {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #1c1e30;
    border-radius: 18px;
  }
  
  .titleSkill {
    font-family: Roboto;
    font-size: 26px;
  }
  
  #skillSecondContainer {
    padding-top: 69px;
  }
  
  .cardContainer {
    /* cursor: pointer; */
    transition: transform .5s;
  }
  
  .cardContainer:hover{
    transform: scale(1.1); 
  }
  
  @media (min-width: 992px) {
    .cardContainer:hover {
    transform: scale(1.2); 
    }
  }

    /* __________________________________________________________________________________________ 

    BLOG
 __________________________________________________________________________________________ */

#blogContrainer{
    background-color: #1c1e30;
}

.minutesTitle{
    padding-left: 8px;
    font-style: normal;
    text-transform: lowercase;
    font-size: 22px;
}

.fa-clock{
    font-size: 23px;
    margin-top: 5px;
}

.pharrCard{
    font-size: 20px;
}

#btnViewMore{
    padding-top: 150px;
    font-size: 36px;
}

    /* __________________________________________________________________________________________ 

    CONTACTO
 __________________________________________________________________________________________ */

#contactSection{
    background-color: aliceblue;
}

#contactMap{
    background-color: #1c1e30;
    padding: 33px 33px;
}

.fa-phone, .fa-envelope, .fa-linkedin, .fa-instagram-square{
    padding-right: 10px;
    margin-top: 6px;
}

#googleMap{
    padding-top: 26px;
}